{% extends "flask_user/public_base.html" %}

{% block content %}
{{ super() }}
{% from "flask_user/_macros.html" import render_field, %}
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>{%trans%}Sign in{%endtrans%}</h4>
                    {# Username or Email field #}
                    {% set field = form.username if user_manager.enable_username else form.email %}
                    {{ field(placeholder=field.label.text, class="form-control input-sm chat-input") }}
                    </br>
                    {# Password field #}
                    {{ form.password(placeholder=form.password.label.text, class="form-control input-sm chat-input") }}
                    </br>
                    {# Remember me #}
                    {% if user_manager.enable_remember_me %}
                    {{ login_form.remember_me(type="checkbox") }} {{ _('Remember me') }}
                    </br>
                    {% endif %}
                    <input type="submit" value="{{ _('Login') }}"> 
                    </br>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
