{% extends "flask_user/public_base.html" %}

{% block page_content %}
<div class="container">
    <form action="" method="POST" class="form form-signin" role="form">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">{%trans%}Sign in{%endtrans%}</h2>
        {# Username or Email field #}
        {% set field = form.username if user_manager.enable_username else form.email %}
        <label for="inputEmail" class="sr-only">{{ field.label.text }}</label>
        {{ field(placeholder=field.label.text, class="form-control", id="inputEmail") }}
        {# Password field #}
        <label for="inputPassword" class="sr-only">{{ form.password.label.text }}</label>
        {{ form.password(placeholder=form.password.label.text, class="form-control", id="inputPassword") }}
        {# Remember me #}
        {% if user_manager.enable_remember_me %}
        <div class="checkbox">
            <label>
                {{ login_form.remember_me(type="checkbox") }} {{ _('Remember me') }}
            </label>
        </div>
        {% endif %}
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ _('Login') }}">
    </form>
</div>
{% endblock %}
