@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  padding-top: 50px;
}

.wrapper {
    text-align: center;
}

.portfolio-item {
    margin-bottom: 25px;
}

.exif-heading {
    padding-top: 25px;
}

.next-prev {
    padding-top: 25px;
}
