{% macro render_pagination(pagination,
                           endpoint=None,
                           prev=('&laquo;')|safe,
                           next=('&raquo;')|safe,
                           size=None,
                           id=None,
                           ellipses='…')
-%}
{% with endpoint = endpoint or request.endpoint %}
{% if pagination.has_prev or pagination.has_next %}
<div class="text-center">
  <nav>
    <ul class="pagination{% if size %} pagination-{{size}}{% endif %}"{{kwargs|xmlattr}}>
    {# prev and next are only show if a symbol has been passed. #}
    {% if prev != None -%}
      <li {% if not pagination.has_prev %}class="disabled"{% endif %}><a href="{% if pagination.has_prev %}{{url_for(endpoint, page=pagination.prev_num, id=id)}}{% else %}#{% endif %}">{{prev}}</li></a>
    {%- endif -%}

    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{url_for(endpoint, page=page, id=id)}}">{{page}}</a></li>
        {% else %}
          <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
        {% endif %}
      {% elif ellipses != None %}
        <li class="disabled"><a href="#">{{ellipses}}</a></li>
      {% endif %}
    {%- endfor %}

    {% if next != None -%}
      <li {% if not pagination.has_next %}class="disabled"{% endif %}><a href="{% if pagination.has_next %}{{url_for(endpoint, page=pagination.next_num, id=id)}}{% else %}#{% endif %}">{{next}}</li></a>
    {%- endif -%}
    </ul>
  </nav>
</div>
{% endif %}
{% endwith %}
{% endmacro %}

{% macro render_delete_modal()
-%}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="modal-message">aaaa</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <button type="button" class="btn btn-danger" id="deleteModal-button">{{ _('Delete') }}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
