<!-- extend base layout -->
{% extends "member_base.html" %}
{% from "_macros.html" import render_pagination %}
{% from "_macros.html" import render_delete_modal %}

{% block metas %}
<meta name="album-id" content="{{ album.id }}" />
{% endblock %}

{% block page_header %}
<h1>{{ album.title }}
    <br />
    <small>{{ album.description }}</small>
</h1>
{% endblock %}

{% block page_navbar %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Album') }}</a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('gallery.edit_album', id=album.id) }}">{{ _('Edit') }}</a></li>
        <li><a href="#" data-toggle="modal" data-target="#deleteModal" data-message="{{ _('Are you sure you want to remove %(album)s album? Deleting an album will delete all the inside directory and photos', album=album.title) }}" data-url="{{ url_for('gallery.delete_album', id=album.id) }}">{{ _('Delete') }}</a></li>
        <li><a href="{{ url_for('gallery.refresh_album', id=album.id) }}">{{ _('Refresh') }}</a></li>
    </ul>
</li>
{% endblock %}

{% block page_content %}
<div class="row">
{% for photo in photos.items %}
<div class="col-md-3 portfolio-item thumb">
    <a href="#" class="thumbnail" data-toggle="modal" data-target="#photoModal" data-id="{{ photo.id }}">
        <img class="img-responsive" src="{{ url_for('gallery.photo_thumbnail', id=photo.id, width='450', height='300') }}">
    </a>
</div>
{% if loop.index is divisibleby 4 %}
<div class="clearfix"></div>
{% endif %}
{% endfor %}
</div>
{{ render_pagination(photos, id=album.id) }}

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <img class="img-responsive center-block photo" src="http://placehold.it/900x600">
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            <span id="image-title"></span>
                            <br>
                            <small><span id="image-caption"></span></small>
                        </h4>
                    </div>
                    <div class="col-md-4 vcenter">
                        <div class="btn-toolbar" role="toolbar">
                            <br>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-more-info" aria-label="{{ _('Information') }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                                <a href="#" class="btn btn-default btn-open" aria-label="{{ _('Open') }}"><span class="glyphicon glyphicon-folder-open"></span></a>
                                <a href="#" class="btn btn-default btn-edit" aria-label="{{ _('Edit') }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" class="btn btn-default btn-download" aria-label="{{ _('Download') }}" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-info hide">
                    <ul id="ImageInfoTab" class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#general" data-toggle="tab">{{ _('General') }}</a></li>
                        <li role="presentation"><a href="#exif" data-toggle="tab">{{ _('Exif') }}</a></li>
                    </ul>
                    <div id="ImageInfoTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="general">
                            <div class="row">
                                <p>{{_('General Information') }}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>{{ _('File:') }} <span id="image-file">-</span></p>
                                    <p>{{ _('Size:') }} <span id="image-size">-</span></p>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ _('Format:') }} <span id="image-format">-</span></p>
                                    <p>{{ _('Resolution:') }} <span id="image-resolution">-</span></p>
                                    <p>{{ _('Mode:') }} <span id="image-mode">-</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="exif">
                            <div class="row">
                                <p>{{_('Exif Information') }}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>{{ _('Taken at:') }} <span id="exif-taken-at">-</span></p>
                                    <p>{{ _('Camera:') }} <span id="exif-camera-make">-</span> <span id="exif-camera-model"></span></p>
                                    <p>{{ _('Orientation:') }} <span id="exif-orientation">-</span></span></p>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ _('Focal Length:') }} <span id="exif-focal-length">-</span></p>
                                    <p>{{ _('Aperture:') }} <span id="exif-aperture">-</span></p>
                                    <p>{{ _('ISO Speed') }} <span id="exif-iso">-</span></p>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ _('Latitude') }} <span id="exif-latitude">-</span></p>
                                    <p>{{ _('Longitude') }} <span id="exif-longitude">-</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left prev" id="btn-prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous
                </button>
                <button type="button" class="btn btn-primary next" id="btn-next">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_modals %}
{{ super() }}
{{ render_delete_modal() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
// Photo modal
$(document).ready(function(){
    var album_id = $("meta[name=album-id]")
    loadGallery(album_id.attr("content"));

    function loadGallery(id){
        var photos;
        var current_image_index;

        $.getJSON('/gallery/json/album/' + id + '/photos', function(data,status) {
           photos = data
        });

        function loadPhoto(id){
            current_image_index = photos.indexOf(id)
            modal = $('#photoModal')
            modal.data('id', id)
            modal.find('.photo').attr('src', 'http://placehold.it/900x600&text=loading...' + id + '/900x600')
            modal.find('.btn-open').attr('href', '/gallery/photo/view/' + id)
            modal.find('.btn-edit').attr('href', '/gallery/photo/edit/' + id)
            modal.find('.btn-download').attr('href', '/gallery/photo/raw/' + id)
            $.getJSON('/gallery/json/photo/' + id, function(data,status) {
                if (data.title != null){
                    $('#image-title').text(data.title)
                }
                else {
                    $('#image-title').text('')
                }
                if (data.caption != null){
                    $('#image-caption').text(data.caption)
                }
                else {
                    $('#image-caption').text('')
                }
                if (data.filename != null){
                    $('#image-file').text(data.filename)
                }
                else {
                    $('#image-file').text('-')
                }
                if (data.size != null){
                    $('#image-size').text(data.size)
                }
                else {
                    $('#image-size').text('-')
                }
                if (data.format != null){
                    $('#image-format').text(data.format)
                }
                else {
                    $('#image-format').text('-')
                }
                if (data.width != null && data.height != null){
                    $('#image-resolution').text(data.width + 'x' + data.height)
                }
                else {
                    $('#image-resolution').text('-')
                }
                if (data.mode != null){
                    $('#image-mode').text(data.mode)
                }
                else {
                    $('#image-mode').text('-')
                }
            })
            $.getJSON('/gallery/json/photo/' + id + '/exif', function(data,status) {
                if (data.aperture != null){
                    $('#exif-aperture').text(data.aperture[0] + '/' + data.aperture[1])
                }
                else {
                    $('#exif-aperture').text('-')
                }
                if (data.camera_make != null){
                    $('#exif-camera-make').text(data.camera_make)
                }
                else {
                    $('#exif-camera-make').text('-')
                }
                if (data.camera_model != null){
                    $('#exif-camera-model').text(data.camera_model)
                }
                else {
                    $('#exif-camera-model').text('-')
                }
                if (data.focal_length){
                     $('#exif-focal-length').text(data.focal_length[0] + '/' + data.focal_length[1])
                }
                else {
                    $('#exif-focal-length').text('-')
                }
                if (data.iso){
                    $('#exif-iso').text(data.iso)
                }
                else {
                    $('#exif-iso').text('-')
                }
                if (data.taken_at){
                    $('#exif-taken-at').text(data.taken_at)
                }
                else {
                    $('#exif-taken-at').text('-')
                }
                if (data.orientation){
                    $('#exif-orientation').text(data.orientarion)
                }
                else {
                    $('#exif-orientation').text('-')
                }
                if (data.latitude){
                    $('#exif-latitude').text(data.latitude)
                }
                else {
                    $('#exif-latitud').text('-')
                }
                if (data.longitude){
                    $('#exif-longitude').text(data.longitude)
                }
                else {
                    $('#exif-longitude').text('-')
                }
            });
            modal.find('.photo').attr('src', '/gallery/photo/thumb/' + id + '/900x600')
        }

        $('#photoModal').on('show.bs.modal', function (event) {
            var trigger = $(event.relatedTarget)
            var id = trigger.data('id')
            loadPhoto(id)
        })

        $('.btn-more-info').on('click', function(event) {
            event.preventDefault();
            $( '.more-info' ).toggleClass( "hide" );
        })

        $('#btn-next').on('click', function(event) {
            loadPhoto(photos[current_image_index + 1])
        })

        $('#btn.prev').on('click', function(event) {
            loadPhoto(photos[current_image_index - 1])
        })
    }
});


// End Photo modal
</script>
{% endblock %}
