<!-- extend base layout -->
{% extends "member_base.html" %}
{% from "_macros.html" import render_pagination %}

{% block page_header %}
<h1>{{ album.title }}
    <br />
    <small>{{ album.description }}</small>
</h1>
{% endblock %}

{% block page_navbar %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Album</a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('edit_album', id=album.id) }}">Edit</a></li>
        <li><a href="#" data="{{ url_for('delete_album', id=album.id) }}" class="delete-album" onclick="_gaq.push(['_trackEvent', 'example, 'try', 'Danger']);">Delete</a></li>
    </ul>
</li>
{% endblock %}

{% block page_content %}
<div class="row">
</div>
{% endblock %}
