{% extends "member_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_delete_modal %}

{% block page_header %}
<h1>{{ _('Edit Album') }}
    <br />
    <small>{{ album.title }}</small>
</h1>
{% endblock %}

{% block page_content %}
<div class="row">
    <h4>{{ _('General') }}</h4>
    {{ wtf.quick_form(form) }}
    <hr>
    <h4>{{ _('Directories') }}</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ _('path') }}</th>
                <th>{{ _('since') }}</th>
                <th>{{ _('last updated') }}</th>
		<th></th>
            </tr>
        </thead>
        <tbody>
            {% for directory in album.directories %}
            <tr>
                <td>{{ directory.path }}</td>
                <td>{{ directory.added_at }}</td>
                <td>{{ directory.refreshed_at }}</td>
		<td>

                    <a href="{{ url_for('gallery.refresh_directory', id=directory.id) }}" class="btn btn-sm btn-default" aria-label="{{ _('Refresh') }}"><span class="glyphicon glyphicon-refresh"></span></a>
                    <a href="#" class="btn btn-default btn-sm confirm-delete" aria-label="{{ _('Delete') }}" data-toggle="modal" data-target="#deleteModal" data-message="{{ _('Are you sure you want to delete %(directory)s directory? Removing a directory will remove all the photos fetched from it', directory=directory.path) }}" data-url="{{ url_for('gallery.delete_directory', id=directory.id) }}"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wtf.quick_form(directory_form) }}
</div>
{% endblock %}

{% block page_modals %}
{{ super() }}
{{ render_delete_modal() }}
{% endblock %}
