{% extends "member_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_header %}
<h1>Edit Album
    <br />
    <small>{{ album.title }}</small>
</h1>
{% endblock %}

{% block page_content %}
<div class="row">
    <h4>General</h4>
    {{ wtf.quick_form(form) }}
    <hr>
    <h4>Directories</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>path</th>
                <th>since</th>
                <th>last updated</th>
		<th></th>
            </tr>
        </thead>
        <tbody>
            {% for directory in album.directories %}
            <tr>
                <td>{{ directory.path }}</td>
                <td>{{ directory.added_at }}</td>
                <td>{{ directory.refreshed_at }}</td>
		<td><a href="{{ url_for('refresh_directory', id=directory.id) }}">Refresh</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wtf.quick_form(directory_form) }}
</div>
{% endblock %}

