<!-- extend base layout -->
{% extends "member_base.html" %}
{% from "_macros.html" import render_pagination %}

{% block page_header %}
<h1>{{ _('Albums') }}</h1>
{% endblock %}

{% block page_navbar %}
<li><a href="{{ url_for('gallery.new_album') }}">{{ _('New Album') }}</a></li>
{% endblock %}

{% block page_content %}
<div class="row">
    {% for album in albums.items %}
    <div class="col-md-4 portfolio-item">
        <a href="{{ url_for('gallery.album', id=album.id) }}">
            <img class="img-responsive" src="
            {% if album.photos.count() != 0 %}
	    {{ url_for('gallery.photo_thumbnail', id=album.photos.first().id, width='600', height='400') }}
            {% else %}
            http://placehold.it/600x400
            {% endif %}
            ">
        </a>
        <h3>
            <a href="{{ url_for('gallery.album', id=album.id) }}">{{ album.title }}</a>
        </h3>
        <p>{{ album.description }}</p>
    </div>
    {% if loop.index is divisibleby 3 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
</div>
{{ render_pagination(albums) }}
{% endblock %}
