{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Flaskllery</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      {% block page_navbar %}{% endblock %}
      {% if g.user.is_authenticated() %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ g.user.username }}</a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('user.profile') }}"><span class="glyphicon glyphicon-home"></span> Profile</a></li>
          <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{{ url_for('user.login') }}">Log In</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {# Page header #}
        <div class="col-md-8">
            {% block page_header %}{% endblock %}
        </div>
        {# Page buttons #}
        <div class="col-md-4">
            {% block page_buttons %}{% endblock %}
        </div>
    </div>
    <hr>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {# Page content #}
    {% block page_content %}{% endblock %}
</div>
<div class="container">
{% block page_modals %}{% endblock %}
{% endblock %}
</div>
